alembic
bcrypt
click
coverage
eventlet
flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
flask-restx
Flask-SQLAlchemy
Flask-Testing
gunicorn
itsdangerous
Jinja2
jsonschema
Mako
psycopg2-binary
pycparser
PyJWT
python-dateutil
pytz
selenium
six
SQLAlchemy
Werkzeug